.forecast {
  @extend %flexbox;
  flex-flow: column nowrap;
  gap: $spacing-20;

  &__title {
    @extend %text-preset-5;
    color: $color-white;
  }

  &__units {
    @extend %grid;
    grid-template-columns: repeat(auto-fill, minmax(min(10.366rem, 100%), 1fr));
    row-gap: $spacing-16;
    column-gap: $spacing-16;

    @include respond-to($breakpoint-tablets) {
      grid-template-columns: repeat(auto-fit, minmax(min(8.914rem, 100%), 1fr));
    }

    @include respond-to($breakpoint-desktops) {
      grid-template-columns: repeat(
        auto-fill,
        minmax(min(10.057rem, 100%), 1fr)
      );
    }
  }

  &__unit {
    @extend %flexbox;
    flex-flow: column nowrap;
    gap: $spacing-16;
    align-items: center;
    padding-block: $spacing-16;
    padding-inline: $spacing-10;
    width: auto;
    min-height: 16.5rem;
    background-color: $color-neutral-800;
    box-shadow: inset 0 0 0 1px $color-neutral-600;
    border-radius: $radius-12;

    div {
      @extend %flexbox;
      flex-flow: row nowrap;
      align-self: stretch;
      justify-content: space-between;
    }

    &--day {
      @extend %text-preset-6;
      color: $color-white;
    }

    &--icon {
      width: 6rem;
      height: 6rem;
    }

    &--low,
    &--high {
      @extend %text-preset-7;
      color: $color-white;
    }

    &--low {
      color: $color-neutral-200;
    }
  }

  &--daily {
    @include respond-to($breakpoint-desktops) {
      grid-row: 3;
    }
  }

  &--hourly {
    width: 100%;
    background-color: $color-neutral-800;
    padding-block: $spacing-20;
    padding-inline: $spacing-16;
    border-radius: $radius-8;
    @extend %flexbox;
    gap: $spacing-16;

    @include respond-to($breakpoint-tablets) {
      padding: $spacing-24;
    }

    @include respond-to($breakpoint-desktops) {
      grid-area: 2 / 2 / span 2 / -1;
    }
  }

  &__header {
    @extend %flexbox;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &__units--hourly {
    grid-template-columns: 1fr;
  }

  &__unit--hourly {
    background-color: $color-neutral-700;
    min-height: 6rem;
    padding-block: $spacing-10;
    padding-inline-start: $spacing-12;
    padding-inline-end: $spacing-16;

    @extend %grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: $spacing-8;

    &-icon {
      width: 4rem;
      height: 4rem;
    }

    &-time {
      @extend %text-preset-5-md;
      color: $color-white;
    }

    &-temp {
      @extend %text-preset-7;
      color: $color-white;
    }
  }
}
