.header {
  @extend %flexbox;
  gap: $spacing-48;
  margin-block-end: $spacing-48;

  @include respond-to($breakpoint-large-tablets) {
    gap: $spacing-64;
    margin-block-end: $spacing-64;
  }

  &__title {
    @extend %text-preset-2;
    color: $color-white;
    text-align: center;
  }
}

.main {
  @extend %grid;
  row-gap: $spacing-32;

  @include respond-to($breakpoint-desktops) {
    grid-template-columns: auto 1fr;
    column-gap: $spacing-32;
    row-gap: $spacing-48;
  }
}
