[hidden] {
  display: none;
}

.container {
  @include containerWidth(121.6rem);
  margin-block-start: $spacing-16;
  margin-inline: $spacing-16;
  margin-block-end: $spacing-48;

  @include respond-to($breakpoint-tablets) {
    margin-block-start: $spacing-24;
    margin-inline: $spacing-24;
    margin-block-end: $spacing-80;
  }

  @include respond-to("(min-width: 78.125em)") {
    margin-inline: auto;
    margin-block-start: $spacing-48;
  }
}

.select {
  position: relative;
  display: inline-block;
  min-width: 10rem;
  max-width: 100%;

  &[data-type="units"] ul li:hover,
  &[data-type="units"] ul li:focus {
    background-color: transparent;
    cursor: auto;
  }

  &[data-type="units"] ul li.selected:hover,
  &[data-type="units"] ul li.selected:focus {
    background-color: $color-neutral-700;
    cursor: auto;
  }

  &__button {
    @extend %flexbox;
    flex-flow: row nowrap;
    align-items: center;
    gap: $spacing-12;
    @extend %text-preset-7;
    color: $color-white;
    min-width: 6.7rem;
    justify-self: end;
    /* width: 100%; */
    padding: $spacing-8 $spacing-16;
    border-radius: $radius-8;
    cursor: pointer;
    background-color: $color-neutral-600;
    outline: none;
  }

  &__button[aria-expanded="true"] &__icon--arrow {
    transform: rotate(180deg);
  }

  &__button[aria-expanded="false"] &__icon--arrow {
    transform: rotate(0deg);
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 1rem);
    right: 0;
    min-width: 21.4rem;
    border-radius: $radius-12;
    background-color: $color-neutral-800;
    list-style: none;
    padding: $spacing-8;
    box-shadow:
      inset 0 0 0 1px $color-neutral-600,
      0 8px 16px 0 rgba($color: #02012c, $alpha: 0.32);

    z-index: 1;
    &.hidden {
      display: none;
    }
  }

  &__dropdown li {
    @extend %flexbox;
    flex-flow: row nowrap;
    justify-content: space-between;
    @extend %text-preset-7;
    padding: $spacing-10 $spacing-8;
    color: $color-white;
    outline: none;

    span {
      display: none;
    }

    &:not(:last-child) {
      margin-block-end: $spacing-4;
    }

    &:hover,
    &:focus {
      background-color: $color-neutral-700;
      border-radius: $radius-8;
      cursor: pointer;
    }

    &.selected {
      background-color: $color-neutral-700;
      border-radius: $radius-8;

      span {
        display: inline-block;
      }
    }
  }

  &__icon {
    &--arrow {
      width: 1.2rem;
      height: 1.8rem;
      fill: $color-white;
      transition: all 0.35s ease;
    }

    &--unit {
      width: 1.6rem;
      height: 1.6rem;
      fill: $color-white;
    }

    &--check {
      width: 1.4rem;
      height: 1.7rem;
      fill: $color-white;
    }
  }
}

.switch {
  @extend %text-preset-7;
  background: none;
  color: $color-white;
  padding-inline: $spacing-8;
  padding-block: $spacing-10;
  width: 100%;
  text-align: left;

  &:hover,
  &:focus {
    background-color: $color-neutral-700;
    border-radius: $radius-8;
    cursor: pointer;
  }
}

.division {
  display: inline-block;
  @extend %text-preset-8;
  color: $color-neutral-300;
  padding-inline-start: $spacing-8;
  padding-block-start: $spacing-6;
  margin-block-end: $spacing-8;
}

.divider {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: $color-neutral-600;
  margin-block: $spacing-4;
}

.search-field-loader {
  font-size: 1em;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: spin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes spin {
  0%,
  100% {
    box-shadow:
      0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff,
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7),
      2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7),
      1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7),
      0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7),
      -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7),
      -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7),
      -1.8em -1.8em 0 0em #ffffff;
  }
}

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow:
      -38px -12px,
      -14px 0,
      14px 0,
      38px 0;
  }
  33% {
    box-shadow:
      -38px 0px,
      -14px -12px,
      14px 0,
      38px 0;
  }
  66% {
    box-shadow:
      -38px 0px,
      -14px 0,
      14px -12px,
      38px 0;
  }
  100% {
    box-shadow:
      -38px 0,
      -14px 0,
      14px 0,
      38px -12px;
  }
}
